/* styles.css */
@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}
/* Add styles here to customize the appearance of your app */
.tab-pane {
  padding:1em;
}